.Container {
    text-align: center;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-image: url('../../images/background.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.logo-game img {
    width: 5%;
    position: absolute;
    bottom: 85%;
    left: 2%;
}

.auth-form-container,
.login-form,
.register-form {
    display: flex;
    flex-direction: column;
    padding: 50px 20px 30px 20px;
    align-items: center;
}

.auth-form-container {
    background-color: rgb(255, 255, 255);
    border: 1px solid white;
    border-radius: 10px;
}

label {
    text-align: left;
    padding: 0.25rem 0;
}

input {
    margin: 0.5rem 0;
    padding: 1rem 5rem 1rem 2rem;
    border: none;
    border-radius: 10px;
    background-color: #dcdcdc;
}

::placeholder {
    color: #444;
    text-transform: uppercase;
    font-size: 12px;
}

button {
    border: none;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.btn-icon-arrow {
    padding: 40px;
    width: 30%;
    height: 84px;
    background-size: 2em;
    border-radius: 20px;
    background-image: url('../../images/muiten.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #ffffff;
    border: 2px solid #f1f1f1;
    text-align: center;
}

:hover.btn-icon-arrow {
    background-color: #1b3630;
    // color: white;
}

.loading-animation {
    position: absolute;
    color: red;
    // background-color: red;
    top: 26%;
    right: 48%;
}

.register {
    color: #888;
    font-size: 14px;
    padding: 20px 30px;
    background-color: #ffffff;
    border: 1px solid #d9d9d9;
    border-radius: 26px;
    text-decoration: none;
}

:hover.register {
    color: #d9d9d9;
    background-color: #1b3630;
}

.google-btn {
    padding: 16px 30px;
    width: 30%;
    height: 84px;
    background-size: 2em;
    border-radius: 20px;
    background-image: url('../../images/logoGG.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #ffffff;
    border: 2px solid #f1f1f1;
    text-align: center;
}

.link-btn {
    background: none;
    color: #888;
    text-decoration: none;
}

.link-btn p {
    position: absolute;
    padding: 40px 40px;
    background-color: transparent;
    left: 46%;
    top: 60%;
}

:hover.link-btn {
    color: black;
}

.error-confirm {
    color: red;
}

////////////////////////
// section {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     min-height: 100vh;
//     background: #042104;
//     animation: animateBg 10s linear infinite;
// }

// section .loader {
//     position: relative;
//     width: 120px;
//     height: 120px;
// }
// section .loader span {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     transform: rotate(calc(18deg * var(--i)));
// }
// section .loader span::before {
//     content: '';
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 15px;
//     height: 15px;
//     border-radius: 50%;
//     background: #00ff0a;
//     box-shadow: 0 0 10px #00ff0a,
//                 0 0 20px #00ff0a,
//                 0 0 40px #00ff0a,
//                 0 0 60px #00ff0a,
//                 0 0 80px #00ff0a,
//                 0 0 100px #00ff0a;
//     animation: animate 2s linear infinite;
//     animation-delay: calc(0.1s * var(--i));
// }
// @keyframes animate {
//     0%
//     {
//         transform: scale(1);
//     }
//     80%,100%
//     {
//         transform: scale(0);
//     }
// }

// .loader {
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100vw;
//     height: 100vh;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     background: #333333;
//     transition: opacity 0.75s, visibility 0.75s;
//   }
  
//   .loader--hidden {
//     opacity: 0;
//     visibility: hidden;
//   }
  
//   .loader::after {
//     content: "";
//     width: 50px;
//     height: 50px;
//     border: 15px solid #dddddd;
//     border-top-color: #009578;
//     border-radius: 50%;
//     animation: loading 0.75s ease infinite;
//   }
  
//   @keyframes loading {
//     from {
//       transform: rotate(0turn);
//     }
//     to {
//       transform: rotate(1turn);
//     }
//   }

.loading-spinner-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #274D91;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    padding: 0 1rem;
    height: 3rem;
    
}
.loading-spinner-button:hover {
    box-shadow: 10px 10px 5px 129px rgba(0,0,0,0.1) inset;
    -webkit-box-shadow: 10px 10px 5px 129px rgba(0,0,0,0.1) inset;
    -moz-box-shadow: 10px 10px 5px 129px rgba(0,0,0,0.1) inset;
}
.loading-spinner-button > img {
    max-width: 25px;
    margin: 0.5rem;
}