@use '../../../../styles/' as *;

    
.login-wrapper {
    height: 71px;
    background-color: #111;
    width: 100%;
    padding: 10px 60px 10px 40px;
    color: white;
    position: fixed;
    top: 0;
    transition-timing-function: ease-in;
    transition: all 0.3s;
    z-index: 10;
}

.login-inner {
    @include flex(center, space-between, row);
    width: 100%;
    height: 100%;

    .logo {
        background-color: transparent;
    }
    .login-content {
        color: white;
        display: flex;
        align-items: center;
        flex: 1;
        margin-left: 40px;
    }

    .login-footer {
        @include flex(center, flex-start, unset);
        gap: 7px;
        width: fit-content;
        height: 45px;

        .login-avatar {
            width: 43px;
            height: 43px;
            border: 1px solid white;
            border-radius: 999px;
        }

        .name {
            @include flex(center, unset, unset);

            .icon-name {
                width: 36px;
                height: 36px;
                padding: 0;
                margin: 0;
                margin-right: 8px;
                min-width: 0;
                background-color: transparent;
                vertical-align: middle;

                &:hover {
                    background-color: rgba(128, 128, 128, 0.3);
                }
            }

            .login-name {
                font-weight: 700;
                font-size: 14px;
                line-height: 21px;
            }
        }
    }
}
